header {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    width: 915px;
    margin: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    margin: 0px;
    font-size: 2rem;
}

h3 {
    letter-spacing: 3px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

button {
    height: 50px;
    background-color: maroon;
    color: white;
}

footer {
    text-align: center;
    color: gray;
    
}

li {
    list-style: none;
}

.text-print {
    margin: 0px;
    margin-bottom: 10px;
}

.stripes {
    margin-top: 30px;
    height: 15px;
    background-image: linear-gradient(45deg, #000000 8.33%, #ffffff 8.33%, #ffffff 50%, #000000 50%, #000000 58.33%, #ffffff 58.33%, #ffffff 100%);
    background-size: 8.49px 8.49px;
}

.title {
    display: flex;
    flex-direction: row;
}

.post-date {
    margin: 0px;
    font-family: 'Rajdhani', sans-serif;
}

.print {
    margin-left: 840px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}

.blog-name {
    display: flex;   
    flex-direction: column; 
}

.print-text {
    display: flex;
   flex-direction: row;
   align-self: center;
}

.recipe {
    background-image: url("./assets/list-bg.png");
    display: flex;
    justify-content: space-evenly;
    font-family: 'Pacifico', cursive;
}

.sub-title {
    font-family: 'Rajdhani', sans-serif;
    margin: 0px;
    margin-left: 10px;
    font-size: 10px;
}

.about-author-text {
    width: 500px;
    margin-left: 10px;
}

.social-top {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.about-author {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.van-pic {
    height: 100%;
}

.about-author-text {
    width: 500px;
}

.author-text-and-image {
    display: flex;
    flex-direction: row;
}

.horizontal-breaks {
    display: flex;
}

.footer-break {
    width: 45%;
    height: 1px;
}

.main-text {
    text-indent: 40px;
    line-height: 25px;
}